<div class="layout-container layout-container--front">
  {% if page.header %}
    {{ include('react_form_test:site-header', { content: page.header }, false) }}
  {% endif %}

  {% if page.highlighted %}
    <div class="region region-highlighted">
      {{ page.highlighted }}
    </div>
  {% endif %}

  <main class="layout-main layout-main--front" role="main">
    {{ page.content }}

    {% if user_edit is defined %}
      {% include 'react_form_test:user-edit-form' with {
        uid:                      user_edit.uid,
        name:                     user_edit.name,
        mail:                     user_edit.mail,
        status:                   user_edit.status,
        timezone:                 user_edit.timezone,
        user_picture_url:         user_edit.user_picture_url,
        is_admin:                 user_edit.is_admin,
        available_roles:          user_edit.available_roles,
        user_roles:               user_edit.user_roles,
        available_timezones:      user_edit.available_timezones,
        title:                    'Editar mi perfil',
      } %}
    {% endif %}
  </main>

  {% if page.footer %}
    {{ include('react_form_test:site-footer', { content: page.footer }, false) }}
  {% endif %}
</div>
