.section-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: var(--xl);
}
.section-container.large-container {
  max-width: var(--large-width);
}
.section-container.small-container {
  max-width: calc(var(--small-width) + var(--sm));
}
.section-container.full-width-container {
  max-width: none;
}
.section-container .section-container--inner.has-gap {
  padding: 0 var(--sm);
}
@media screen and (width < 640px) {
  .section-container .section-container--inner.has-gap.mobile-gap-large, .section-container .section-container--inner.mobile-gap-large {
    padding: 0 var(--lg);
  }
}
@media screen and (width < 640px) {
  .section-container .section-container--inner.has-gap.mobile-gap-none, .section-container .section-container--inner.mobile-gap-none {
    padding: 0;
  }
}
.section-container .section-container--inner.no-gap {
  padding: 0;
}

.section-container .section-container {
  margin-bottom: 0;
}
